.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.click-counter {
  font-weight: bold;
  text-shadow: 0 -15px 10px #61dafb;
}

button {
  color: #fff;
  background-color:#000;
  border-radius:5px;
  cursor:pointer;
  font-size:25px;
  transition: color .1s, background-color .6s;
}

button:hover {
  color: #000;
  background-color:#fff;
}

.instructor-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
